* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.header {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 20px 50px;
    background: #ffc70b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19);
}

.logo {
    position: relative;
    display: flex;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 800;
    font-size: 25px;
    font-style: normal;
    color: black;
    text-decoration: none;
    transition: all .2s;
}
.logo:hover {
    transform: scale(1.25);
}
.navbar {
    display: none;
    width: 100%;
    flex-direction: column;
    background: white;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19);
    position: absolute;
}
.navbar a{
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    color: black;
    padding: 20px 50px;
    text-decoration: none;
    display: flex;
    transition: all .2s ease;
    width: 100%;
}
.navbar a:hover {
    transform: scale(1.01);
    background: #ffc70b;
}


.navbar a.icon {
    display: flex;
    position: relative;
    right: 0;
    top: 0;
}

.menu img {
    height: 25px;
    transition: all .2s ease;
}
.menu img:hover {
    transform: scale(1.25);
}

.body_header {
    display: flex;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    align-items: center;
}


.body_header h1 {
    display: flex;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 800;
    font-size: 50px;
    font-style: normal;
    color: black;
    text-decoration: none;
    justify-content: center;
    border-bottom: solid 5px #ffc70b;
    padding: 20px;
    position: relative;
    align-items: center;
    width: 100%;
}
.body_header h2 {
    display: flex;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: rgb(186, 186, 186);
    text-decoration: none;
    padding: 20px;
    font-style: italic;
}




@media only screen and (max-width: 1170px) {
    .logo {
        font-weight: 400;
    }
    .navbar a{
        font-size: 13px;
        padding: 10px 50px;
    }
    .body_header h1 {
        font-size: 25px;
        font-weight: 400;
    }
    .body_header h2 {
        font-size: 13px;
    }
}