* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.header {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 20px 50px;
    background: #ffc70b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19);
}

.logo {
    position: relative;
    display: flex;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 800;
    font-size: 25px;
    font-style: normal;
    color: black;
    text-decoration: none;
    transition: all .2s;
}
.logo:hover {
    transform: scale(1.25);
}
.navbar {
    display: none;
    width: 100%;
    flex-direction: column;
    background: white;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19);
    position: absolute;
}
.navbar a{
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    color: black;
    padding: 20px 50px;
    text-decoration: none;
    display: flex;
    transition: all .2s ease;
    width: 100%;
}
.navbar a:hover {
    transform: scale(1.01);
    background: #ffc70b;
}


.navbar a.icon {
    display: flex;
    position: relative;
    right: 0;
    top: 0;
}

.menu img {
    height: 25px;
    transition: all .2s ease;
}
.menu img:hover {
    transform: scale(1.25);
}

.body_header {
    display: flex;
    height: 100vh;
}

.section1 {
    flex: 1;
    padding: 20px;
    position: relative;
    font-family: "Didact Gothic", sans-serif;
    overflow-y: auto;
}

.section1 h1 {
    display: flex;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 800;
    font-size: 50px;
    font-style: normal;
    color: black;
    text-decoration: none;
    justify-content: center;
    border-bottom: solid 5px #ffc70b;
    padding-bottom: 20px;
}
.section2 {
    flex: 1; 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sc {
    padding-bottom: 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19);
}
.section2 h1 {
    display: flex;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: black;
    text-decoration: none;
    justify-content: center;
    border-bottom: solid 5px #ffc70b;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;

}
.section2 h2 {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 20px;

}
.section2 a {
    text-decoration: none;
    color: #3d38c7;
    transition: all .2s;
}

.section2 a:hover {
    color: #ffc70b;
}
.section2 img {
    border-radius: 100%;
    width: 25%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19);
}
.sub_section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;

}

.content h2 {
    color: #ffc70b;
    font-weight: 400;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content h3 {
    font-weight: 400;
    font-size: 25px;
    color: rgb(186, 186, 186);
}
.content h4 {
    font-weight: 400;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.break {
    padding-bottom: none !important;
}

.footer {
    display: flex;
    font-family: "Didact Gothic", sans-serif;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: black;
    background: #ffc70b;
    font-weight: 400;
    font-size: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer span a {
    text-decoration: underline;
    color: #3d38c7;
}
.footer2{
    display: none;
}



@media only screen and (max-width: 1170px) {
    .navbar a{
        font-size: 13px;
        padding: 10px 50px;
    }
    .body_header {
        flex-direction: column;
    }
    .section1 {
        box-shadow: none;
        overflow-y: visible;
    }
    .section2 img {
        width: 15%;
    }
    .section2 h2 {
        font-size: 13px;
    }
    .footer {
        display: none;
    }
    .footer2 {
        display: flex;
        font-family: "Didact Gothic", sans-serif;
        width: 100%;
        justify-content: center;
        align-items: center;
        color: black;
        background: #ffc70b;
        font-weight: 400;
        font-size: 6px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .content h3 {
        font-size: 20px;
    }
    .content h2 {
        font-size: 25px;
    }
    .content h4 {
        font-size: 13px;
    }
    .section1 h1 {
        font-size: 25px;
    }
    .content h2 {
        font-size: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .section2 {
        padding: 20px;
    }
    .sc {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}